* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.carousel-container {
  width: 500px;
  margin: 0 auto;
  border: 5px solid #000;
  overflow: hidden;
}
.carousel-slide {
  display: flex;
  width: 100%;
  height: auto;
 
}

.carousel-container .carousel-slide img {
  display: block;
  width: 100%;
}